@media ( max-width :768px) {

    .ebanner{
        background-size: cover;
        background-position: 1% 0%;
        margin-bottom: 10%;
        margin-top: 7%;
        width: 94%;
        margin-left: 11px;
        height: 270px;
        form{
            width: 71%;
            margin-top: 33.1%;
            position: absolute;

            .button{
                border-radius: 50px;
                height: 40px;
                padding: 0 20px;
                font-size: 13px;
                background: #3bb77e;
                border: none;
                color: white;
                width: 94px;
                position: absolute;
                margin-left: -16%;
                transition: 0.3s;
            }
            .input{
                border-radius: 50px;
               height: 39px;
                box-shadow: none;
                padding: 0 20px;
                font-size: 16px;
                background: #fff;
                width: 100%;
                border: none;
                outline: none;
                color: #181817;
            }
        }
        img{
            
            margin-top: 12.2%;
        }
        h4{
            margin-left: 22px;
            margin-left: 10px;
            font-size: 16px;
        }
    }
    .featured{
        width: 100%;
        .featuredcontent{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .featuredcard{
               width: 81%;
               margin-left: 36px;
               button{
                    margin-left: 45%;
                    margin-top: -10%;
                    padding: 15px;
                    width: 99px;
               }
            }
        }
        .featuredhead{
            ul{
                width: 93%;
                float: right;
                margin-top: 29px;
                padding-left: 0;
            }
        }
    }
    .category{
        display: flex;
        flex-wrap: wrap;
        height: 2700px;
        margin-top: 1440px;
        width: 100% !important;
        .categorybox{
            width: 80%;
            margin-left: 10%;
        }
        .category-icons{
            width: 34%;
            margin-left: 66%;
            margin-top: -76px;
        }
        h2{
            margin-left: 27px;
        }
    }
    .sellings{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .sellingbox{
            width: 100%;
            margin-left: 10%;
            .title{
                margin: 10px;
            }
        }
    }
    .deals{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 940px;
        margin-top: 1930px;
        width: 512px;
        .dealsbox{
            width: 55%;
            margin-left: 4%;
            margin-bottom: -20px;
            img{
                height: 60%;
            }
        }
        h2{
           margin-left: 23px;
        }
    }
    .bestsell{
        width: 100%;
        .bestsellhead{
            width: 100%;
            .title{
                .icons-bestseller{
                    width: 37%;
                    i{
                        font-size: 11px;
                        width: 32px;
                        padding: 11px 10px;

                    }
                }
                h2{
                    font-size: 16px;
                }
            }

            .menu{
                ul{
                    width: 100%;
                    display: flex;
                    float: none;
                    margin-top: 13px;
                    padding-left: 22px;
                    margin-bottom: 37px;
                    li{
                        font-size: 13px;
                    }
                }
            }
        }
         .bestsellcontent{
                    display: flex;
                    flex-wrap: wrap;
                    height: 3122px;
                    width: 100%;
                    .leftside{
                        height: 275px;
                        width: 474px;
                        margin-left: 19px;
                        .bannerleft{
                            h2{
                                font-size: 22px;
                                margin-top: -67%;
                            }
                            a{
                                margin-top: 54%;
                                margin-left: -37%;
                            }
                            img{
                                width: 94%;
                                height: 76%;
                            }
                        }
                    }
                    .slideside{
                        width: 87%;
                        margin-top: 260px;
                        margin-left: 16px;
                        .featuredcard{
                            width: 100%;
                            margin-bottom: 25px;
                        }
                    }
            }
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        .column{
            width: 100% !important;
            text-align: center;
        }
        .footerend{
            display: flex !important;
            flex-wrap: wrap !important;
            h3{
                width: 100% !important;
            }
            div{
                width: 100% !important;
                height: 150px;
            }
        }
    }
    .offers{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 520px;
        width: 100%;
        .offerbox{
            width: 82%;
            margin-left: 10%;
            margin-bottom: 18px;

            img{
                margin-left: 35px;
            }
            h3{
                margin-top: -17%;
                margin-bottom: 17px;
            }
            
        }
    }
}